



.Palette-footer {
    background-color: #ffffff;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 0 1rem;
}

.Emoji {
    font-size: 30px;
}